.kl
{
    height: 1000px;
    width: 1000px;
    box-shadow:1px 4px 2px #dcdde1;
    position:centre;
}
.kll
{
    height: 100px;
    width: 100px;
    box-shadow:1px 4px 2px #dcdde1;
    position:centre;
}